.cards-container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.card{
  position: relative;
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column;
  
}
.card:hover{
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
}
.card__badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
.card__img{
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
  height: 200px;
}
.card__stats{
  display: flex;
  align-items: center;
}
.card__star{ 
  height: 14px;
}
.card__description{
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__costs{
  margin-top: auto;
}