.main-galery{
  position: absolute;
  width: 80vw;
  height: 40vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -90%);
}
.main-galery__img_1{
  position: absolute;
  width: 150px;
  height: 120px;
  left: 20px;
  top: 35px;
  background-image: url('../images/kitchen.jpg');
  background-size: cover;
  border-radius: 8.95px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.main-galery__img_2{
  position: absolute;
  width: 180px;
  height: 150px;
  left: 75px;
  top: 180px;
  background-image: url('../images/fun-girl.jpg');
  background-size: cover;
  border-radius: 8.95px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.6);
}
.main-galery__img_3{
  position: absolute;
  width: 260px;
  height: 160px;
  left: 175px;
  top: 10px;
  background-image: url('../images/girl-gitar.jpg');
  background-size: cover;
  border-radius: 8.95px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.main-galery__img_4{
  position: absolute;
  width: 160px;
  height: 190px;
  left: 275px;
  top: 180px;
  background-image: url('../images/old-house.jpg');
  background-size: cover;
  border-radius: 8.95px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.6);
}

.main-galery__img_5{
  position: absolute;
  width: 200px;
  height: 280px;
  left: 445px;
  top: 20px;
  background-image: url('../images/rocks.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 8.95px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.6);
}
.main-galery__img_6{
  position: absolute;
  width: 170px;
  height: 280px;
  left: 655px;
  top: 100px;
  background-image: url('../images/yoga.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 8.95px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.6);
}

.description{
  position: absolute;
  top: 550px;
}
.description__title{
  font-size: 38px;
  margin-left: 50px;
  padding: 20px 0;
}
.descrition__constent{
  margin-left: 50px;
}